<div class="col-md-6">
  <%= link_to event_path(event) do %>
    <div class="card">
      <img class="card-img-top" src="<%= event.hero_image_url %>">
      <div class="card-block">
        <h4 class="card-title"><%= event.name %></h4>
        <p class="card-text">
          <%= event.extended_html_description %>
        </p>

        <%= render 'control_buttons', :event => event %>
      </div>
    </div>
  <% end %>
</div>  
