<% content_for :event_content do %>
  <%= form_for(@event, url: "/events/#{@event.id}/tickets", method: :post) do |f| %>
		<ul class="list-group">
	    <% @event.ticket_types.each do |type| %>
	      <li class="list-group-item form-group row"> 
	      	<span class="name col-md-5 col-xs-12"><%= type.name %></span>
	      	<h4 class="price col-md-3 col-xs-12"><%= format_price(type.price) %></h4>
	      	<%= number_field_tag 'event[ticket_types][]', nil, class: "col-md-2 col-xs-12", min: 0, max: type.max_quantity %>
	      	<div class="col-md-1 col-xs-12 btn-container"><button class="btn  btn-success-outline btn-sm btn-increase-count">+</button></div>
	      	<div class="col-md-1 col-xs-12 btn-container"><button class="btn  btn-danger-outline btn-sm btn-decrease-count">-</button></div>
	      </li>
	    <% end %> 
	  </ul>
	  <%= f.submit 'Book', class: 'btn btn-primary btn-lg btn-book' %>
  <% end %>
<% end %>

<%= render 'shared/event_details' %>

<%= javascript_tag do %>
	$('.btn-increase-count').click(function (e) {
		e.preventDefault();
		$(e.currentTarget).parent().parent().find("input").get(0).stepUp(1);
	});

	$('.btn-decrease-count').click(function (e) {
		e.preventDefault();
		$(e.currentTarget).parent().parent().find("input").get(0).stepDown(1);
	});
<% end %>